<ion-header>
  <ion-toolbar color="colortoolbar">
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>


    <ion-title>Quienes somos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <img src="../../../assets/Nosotros.jpg" width="480" height="420">
  </ion-item>
  <br>
  <ion-item>
    <ion-item>
      <p>Descargue aca su APP, a continuacion:</p>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <h2>Tome el codigo QR</h2>
    </ion-item>
  </ion-item>
    <ion-item>
      <ion-item>
        <ion-item>
          <ion-item>
            <ion-item>
              <img class="logopadding" width="100%" src="../../../assets/qrcode.png" alt="">
            </ion-item>
          </ion-item>
        </ion-item>
    </ion-item>
  </ion-item>
  <ion-item>
    <ion-item>
      <p>Link de descarga</p>
      <a target="_blank" href="https://mega.nz/file/qh8EhKyJ#dq6VB_uAvZsEdTEnEr-YtpRQm5r83mxfPhrxZTi1Vuw">registerApp</a>

    </ion-item>
  </ion-item>

<ion-card>
  <ion-card-content>
      <br>


      <br>
      <br>
      <ion-item class="transparencia">
        <img src="assets/grupo.png">
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-item>
    <ion-item>
      <h2>Gracias por preferirnos</h2>
    </ion-item>
  </ion-item>



</ion-content>
