ion-toolbar{
    background-color: var(--ion-color-colortoolbar);
}

.tituloqs{
    color:#1565C0;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.alinear{
    text-align: center;
}


.transparencia{
    opacity: 60%;
    float: center;
}

.img{
    width: 50%;
}